<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875394948872-85v886iangdbm4gmg15k2jbo6e2v6q47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875394948872-85v886iangdbm4gmg15k2jbo6e2v6q47</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>875394948872-v19j8a4uia99b1642c2u0r33r1gpoe38.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPUoQ0ed6eSh44JSM0-gPqWlxysUIJoVo</string>
	<key>GCM_SENDER_ID</key>
	<string>875394948872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notecloud</string>
	<key>PROJECT_ID</key>
	<string>notecloud-nack</string>
	<key>STORAGE_BUCKET</key>
	<string>notecloud-nack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875394948872:ios:18441b2e912d5848d716bd</string>
</dict>
</plist>